# PROCESS
NODE_ENV=
PORT=

# DB
DATABASE_URL=
DATABASE_NAME=

# APP AUTH
ACCESS_TOKEN_SECRET=

# EMAIL
APP_PASSWORD=
SENDER_EMAIL=
RECIPIENT_EMAIL=

# OTP
FROM_SMS_PHONE=
INFOBIP_API_BASE_URL=
INFOBIP_API_KEY=

# MOMO
X_REFERENCE_ID=
API_KEY=
OCP_APIM_SUBSCRIPTION_KEY=

# AIRTEL
AIRTEL_MONEY_CLIENT_ID=
AIRTEL_MONEY_CLIENT_SECRET_KEY=

SMS_PASSWORD=Ru8nxYhrFG@hM3m
SMS_SENDER_ID=ABUNZI
SMS_USERNAME=ianbalijawa
